.accordion {
    position: relative;
    padding-left: 0px;
    /*width: 165px;*/
    top: 0px;
    font-family:"PMingLiU","MingLiU";
}

.accordionHeaders {
	overflow: auto;
	color: #FFFFFF;
	position: relative;
	cursor: pointer;
	font-family: "PMingLiU","MingLiU";
	background-image: url(../images/mL01.png);
	background-repeat: no-repeat;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #9fc7c9;
	border-bottom-color: #2f5759;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	background-color: #60898b;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 15px;
}


.accordionHeaders.selected {
	overflow: auto;
	color: #FFCC00;
	position: relative;
	cursor: pointer;
	font-family: "PMingLiU","MingLiU";
	background-repeat: no-repeat;
}


.accordionHeaders.selected a:link,
.accordionHeaders.selected a:visited,
.accordionHeaders.selected a:active,
.accordionHeaders.selected a {
	overflow: auto;
	color: #FFCC00;
	position: relative;
	cursor: pointer;
	background-repeat: no-repeat;
}
.accordionHeaders.selectedcontent {
	color: #FFCC00;
}
.accordionHeaders.selectedcontent a{
	color: #FFCC00;
}
















.accordionHeadersSingle {
	overflow: auto;
	color: #FFFFFF;
	position: relative;
	cursor: pointer;
	background-image: url(../images/mL01.png);
	background-repeat: no-repeat;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #9fc7c9;
	border-bottom-color: #2f5759;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	background-color: #60898b;
}
.accordionHeadersSingle a {
	color: #FFF;
	text-decoration: none;
	display: block;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 15px;
}

.accordionHeadersSingle.selected {
	overflow: auto;
	color: #FFCC00;
	position: relative;
	cursor: pointer;
	background-image: url(../images/mL01.png);
	background-repeat: no-repeat;
	background-color: #60898b;
}
.accordionHeadersSingle.selectedcontent {
	color: #FFCC00;
}
.accordionHeadersSingle.selectedcontent a{
	color: #FFCC00;
	background-color: #60898b;
	background-image: url(../images/mL01.png);
	background-repeat: no-repeat;
}




.accordionSubHeaders {
	overflow: auto;
	color: #283b27;
	position: relative;
	cursor: pointer;
	background-image: url(../images/mL02.png);
	background-repeat: no-repeat;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #eff5f1;
	border-right-color: #b2b8b4;
	border-bottom-color: #b2b8b4;
	border-left-color: #eff5f1;
	background-position: 0px 0px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 24px;
	background-color: #e9eeea;
}
.accordionSubHeaders.selected {
	overflow: auto;
	color: #293c26;
	position: relative;
	cursor: pointer;
	background-image: url(../images/mL02.jpg);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #eff5f1;
	border-left-color: #eff5f1;
	border-right-color: #b2b8b4;
	border-bottom-color: #b2b8b4;

	
}

/*
.accordionSubHeaders.selectedcontent {
	color: #FFCC00;
}
.accordionSubHeaders.selectedcontent a:link,
.accordionSubHeaders.selectedcontent a:visited,
.accordionSubHeaders.selectedcontent a:active,
.accordionSubHeaders.selectedcontent a
{
	color: #FFCC00;
}

*/
.accordionSubHeaders a:link,
.accordionSubHeaders a:visited,
.accordionSubHeaders a:active,
.accordionSubHeaders a{
	color: #283b27;
	text-decoration: none;
	display: block;
}
.accordionSubHeaders a:hover{
	color: #6A01FE;
}




















.accordionSubHeadersSingle {
	overflow: auto;
	color: #283b27;
	position: relative;
	cursor: pointer;
	font-family: "PMingLiU","MingLiU";
	background-image: url(../images/mL02.png);
	background-repeat: no-repeat;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #eff5f1;
	border-right-color: #b2b8b4;
	border-bottom-color: #b2b8b4;
	border-left-color: #eff5f1;
	background-position: 0px 0px;
	background-color: #e9eeea;
}
.accordionSubHeadersSingle.selected {
	overflow: auto;
	color: #293c26;
	position: relative;
	cursor: pointer;
	font-family: "PMingLiU","MingLiU";
	background-image: url(../images/mL02.jpg);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #eff5f1;
	border-left-color: #eff5f1;
	border-right-color: #b2b8b4;
	border-bottom-color: #b2b8b4;
}
.accordionSubHeadersSingle a:link,
.accordionSubHeadersSingle a:visited,
.accordionSubHeadersSingle a:active,
.accordionSubHeadersSingle a{
	color: #283b27;
	text-decoration: none;
	display: block;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 24px;
}
.accordionSubHeadersSingle a:hover{
	color: #6A01FE;
}






.accordionContent {
	color: #0d6f00;
	position: relative;
	cursor: pointer;
	/*background: #7C91AC;*/
	text-decoration: none;
	background-color: #ebf0ec;

}

.accordionContent a {
	color: #0d6f00;
	outline: none !important;
	text-decoration: none;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #f6f9f5;
	border-bottom-color: #b5b7b6;
	display: block;
	background-color: #ebf0ec;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 32px;
	background-image: url(../images/mL03.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #b5b7b6;
	border-left-color: #f6f9f5;
}
.accordionConten a:link,
.accordionConten a:visited,
.accordionConten a:hover,
.accordionConten a:active{
    outline: none !important;
    text-decoration: none;
}

.accordionContent:hover,.accordionSubHeaders:hover  {
	color: #6A01FE;
}
.accordionContent a:hover  {
	color: #6A01FE;
	position: relative;
}

/*----------------------*/

.accordionHeaders1.selectedcontent {
	color: #FFCC00;
	/*background-image: url(../images/menumask.png);
	background-repeat: no-repeat;
	position: relative;*/
}
.accordionHeaders1.selectedcontent A{
	color: #FFCC00;
	position: relative;
}

/*-----------------------*/




.accordionContent.selectedcontent {
	color: #6A01FE;
	/*background-image: url(../images/menumask.png);
	background-repeat: no-repeat;
	position: relative;*/
}
.accordionContent.selectedcontent A{
	color: #6A01FE;
	position: relative;
}
.accordionContent span {
    padding-right:5px;
}
.contentHolder {
    position: relative;
    display: none;
    overflow-x: hidden;
    padding-left: 1px;
}
.subContentHolder {
    position: relative;
    display: none;
    overflow-x: hidden;
    padding-left: 1px;
}











body {
	background-color: #a7a7a7;
	background-image: url(../images/treeBg.jpg);
	background-repeat: repeat-y;
}
